# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Open rust standard library docs for import'
      'command': 'rust-api-docs-helper:trigger'
    }
  ]
